header {
  background: repeating-linear-gradient(-65deg, #dedede, #dedede 200px, #e2e2e2 200px, #e2e2e2 400px);
  font-family: "Asap", sans-serif;
}
header .navbar {
  padding-top: 30px;
}
header .navbar-brand {
  padding: 0 15px;
  height: 60px;
}
header .navbar-default {
  border: none;
  background-image: none;
  box-shadow: none;
  background-color: transparent;
}
header .navbar-default .navbar-nav li a {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  color: #4d4d4d;
  text-transform: uppercase;
}
header .navbar-default .navbar-nav li a:hover {
  text-transform: none;
  border-bottom: 1px solid #4d4d4d;
}
header .title {
  padding-top: 50px;
}
@media screen and (min-width: 1050px) {
  header .title {
    padding-top: 160px;
  }
}
header .title h1 {
  font-size: 60px;
  font-weight: bold;
  color: #4d4d4d;
}
@media screen and (min-width: 380px) {
  header .title h1 {
    font-size: 90px;
  }
}
header .title p {
  color: #909090;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
@media screen and (min-width: 380px) {
  header .title p {
    font-size: 22px;
  }
}
header .title a {
  font-size: 16px;
  font-weight: bold;
  color: #4d4d4d;
  text-transform: uppercase;
  padding: 20px 30px;
  margin-right: 20px;
  border: solid 1px black;
  display: inline-block;
  margin-bottom: 15px;
  box-sizing: border-box;
}
header .title a:hover {
  background-color: #fff;
  border: none;
  text-decoration: none;
  box-shadow: 0 8px 17px 0 rgba(50, 50, 50, 0.75);
}
header .hero img {
  height: auto;
  width: 100%;
}

.about_me {
  padding-top: 50px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1050px) {
  .about_me {
    padding-top: 100px;
    padding-bottom: 125px;
  }
}
.about_me h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Asap", sans-serif;
  color: #717171;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 8px;
  text-align: left;
}
@media screen and (min-width: 380px) {
  .about_me h2 {
    font-size: 46px;
  }
}
@media screen and (min-width: 1050px) {
  .about_me h2 {
    padding-top: 70px;
  }
}
.about_me h2:before {
  content: " ";
  border-bottom: 4px solid #717171;
  display: block;
  width: 60px;
}
.about_me span {
  display: block;
}
.about_me p {
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #717171;
  margin-bottom: 35px;
}
.about_me a {
  font-size: 16px;
  font-weight: bold;
  color: #717171;
  text-transform: uppercase;
  padding: 20px 30px;
  border: solid 1px black;
  display: inline-block;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.about_me img {
  height: auto;
  width: 100%;
}

#service {
  background-color: #f6f6f6;
  padding-top: 120px;
}
#service h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Asap", sans-serif;
  color: #717171;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 8px;
  margin-bottom: 70px;
}
@media screen and (min-width: 380px) {
  #service h2 {
    font-size: 46px;
  }
}
#service h2:before {
  content: " ";
  border-bottom: 4px solid #717171;
  display: block;
  width: 60px;
  margin: auto;
}
#service .services {
  margin-bottom: 85px;
}
#service img {
  display: block;
  margin: auto;
  padding-bottom: 20px;
}
#service p {
  font-family: "Asap", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #4d4d4d;
  text-align: center;
}

#skills {
  padding-top: 50px;
}
@media screen and (min-width: 1050px) {
  #skills {
    padding-top: 100px;
  }
}
#skills h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Asap", sans-serif;
  color: #717171;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 8px;
  margin-bottom: 20px;
}
@media screen and (min-width: 380px) {
  #skills h2 {
    font-size: 46px;
  }
}
@media screen and (min-width: 1050px) {
  #skills h2 {
    margin-bottom: 65px;
  }
}
#skills h2:before {
  content: " ";
  border-bottom: 4px solid #717171;
  display: block;
  width: 60px;
  margin: auto;
}
#skills img {
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 1050px) {
  #skills img {
    margin-bottom: 120px;
  }
}

#portfolio {
  background-color: #f6f6f6;
  padding-top: 50px;
}
@media screen and (min-width: 1050px) {
  #portfolio {
    padding-top: 125px;
  }
}
#portfolio h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Asap", sans-serif;
  color: #717171;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 8px;
  margin-bottom: 45px;
}
@media screen and (min-width: 380px) {
  #portfolio h2 {
    font-size: 46px;
  }
}
#portfolio h2:before {
  content: " ";
  border-bottom: 4px solid #717171;
  display: block;
  width: 60px;
  margin: auto;
}
#portfolio img {
  margin-bottom: 30px;
  height: auto;
  width: 100%;
}
#portfolio .load-more {
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 1050px) {
  #portfolio .load-more {
    margin-bottom: 125px;
  }
}
#portfolio .btn-primary {
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  border: solid 1px black;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  color: #4d4d4d;
  text-transform: uppercase;
  padding: 20px 45px;
}
#portfolio a:hover {
  background-color: #fff;
  border: none;
  text-decoration: none;
  box-shadow: 0 8px 17px 0 rgba(50, 50, 50, 0.75);
}
#portfolio .well {
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

#testimonials {
  padding: 50px 0;
}
@media screen and (min-width: 1050px) {
  #testimonials {
    padding: 125px 0;
  }
}
#testimonials h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Asap", sans-serif;
  color: #717171;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 8px;
  margin-bottom: 60px;
}
@media screen and (min-width: 380px) {
  #testimonials h2 {
    font-size: 46px;
  }
}
#testimonials h2:before {
  content: " ";
  border-bottom: 4px solid #717171;
  display: block;
  width: 60px;
  margin: auto;
}
#testimonials .border {
  border: 1px solid black;
  padding-top: 85px;
  padding-bottom: 35px;
  margin-bottom: 130px;
}
#testimonials .user {
  text-align: center;
}
@media screen and (min-width: 768px) {
  #testimonials .user {
    text-align: left;
  }
}
#testimonials .user img {
  max-width: 160px;
  max-height: 160px;
}
#testimonials h3 {
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  color: #4d4d4d;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #testimonials h3 {
    text-align: left;
  }
}
#testimonials h4 {
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  color: #4d4d4d;
  font-size: 12px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #testimonials h4 {
    text-align: left;
  }
}
#testimonials p {
  font-family: "Asap", sans-serif;
  color: #909090;
  font-size: 16px;
  text-transform: uppercase;
}
#testimonials a.film_roll_prev, #testimonials a.film_roll_next {
  visibility: hidden;
}
#testimonials .film_roll_pager a {
  width: 10px;
  height: 10px;
  border-radius: 0;
  margin: 40px 5px;
}

#funfact {
  background-color: #f6f6f6;
  padding: 65px 0;
}
#funfact img {
  height: 100px;
  display: block;
  margin: auto;
}
#funfact p {
  margin-top: 30px;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  color: #4d4d4d;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
#funfact p span {
  display: block;
  font-weight: normal;
}

#contact {
  background-image: url(../images/footer.png);
  padding-top: 120px;
  position: relative;
}
#contact .up {
  position: fixed;
  right: 0;
  bottom: 200px;
}
#contact .up a {
  background-color: #fff;
  text-align: center;
  padding: 10px;
}
#contact .up a i {
  font-size: 20px;
  color: #4d4d4d;
}
#contact h2 {
  font-family: "Asap", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-family: "Asap", sans-serif;
  color: #717171;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 8px;
  color: white;
  margin-bottom: 70px;
}
@media screen and (min-width: 380px) {
  #contact h2 {
    font-size: 46px;
  }
}
#contact h2:before {
  content: " ";
  border-bottom: 4px solid white;
  display: block;
  width: 60px;
  margin: auto;
}
#contact .form-inline {
  margin-bottom: 30px;
}
#contact .form-control {
  width: 100%;
  border-radius: 0;
  border: none;
}
#contact input::placeholder, #contact textarea::placeholder {
  font-family: "Asap", sans-serif;
  color: #4d4d4d;
  font-size: 16px;
}
#contact .message {
  margin: 30px 0;
  height: 210px;
}
#contact .btn {
  display: block;
  margin: auto;
}
#contact .btn-default {
  border: none;
  border-radius: 0;
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  background-image: none;
  padding: 0 30px;
  line-height: 40px;
}
#contact .social {
  border-top: 1px solid white;
  padding-top: 30px;
}
#contact .social a {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #fff;
  padding-top: 6px;
  text-align: center;
  margin: 0 5px;
}
#contact .social a i {
  font-size: 20px;
  color: #4d4d4d;
}
#contact .social a:hover {
  background-color: #0084b4;
}
#contact .social a:hover i {
  color: white;
}

/*# sourceMappingURL=main.css.map */
